{% extends "base/base.html" %}

{% block title %}add{% endblock %}

{% block content %}
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>关于我</h1>
                    <h2>data for now</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content" style="width:400px">
                    <div class="table-title">
                        <h3>专著：共有{{sum1}}个记录,我贡献了{{my1}}个记录</h4>
                    </div>
                    <div class="table-box">
                        <table>
                    <a href="/viewzz">查看</a>
                        </table>
                    </div>
                    <div class="table-title">
                        <h3> 专利：共有{{sum2}}个记录,我贡献了{{my2}}个记录</h4>
                    </div>
                    <div class="table-box">
                        <table>
                    <a href="/viewzl" >查看</a>
                        </table>
                    </div>
                    <div class="table-title">
                        <h3>获奖：共有{{sum3}}个记录,我贡献了{{my3}}个记录</h4>
                    </div>
                    <div class="table-box">
                        <table>
                    	<a href="/viewprize">查看</a>
                        </table>
                    </div>
                    <div class="table-title">
                        <h3>合作：共有{{sum4}}个记录,我贡献了{{my4}}个记录</h4>
                    </div>
                    <div class="table-box">
                        <table>
                    	<a href="/cop/view">查看</a>
                        </table>
                    </div>
                    <div class="table-title">
                        <h3>进修：共有{{sum5}}个记录,我贡献了{{my5}}个记录</h4>
                    </div>
                    <div class="table-box">
                        <table>
                    	<a href="/learn/view">查看</a>
                        </table>
                    </div>
                    <div class="table-title">
                        <h3>论文：共有{{sum6}}个记录,我贡献了{{my6}}个记录</h4>
                    </div>
                    <div class="table-box">
                        <table>
                    	<a href="/../view">查看</a>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>

{% endblock %}