{% extends "base/base.html" %}

{% block title %}add{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 75%;
    }
</style>
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>View</h1>
                    <h2>view all answer</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>专著：</h3>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-author">题目</th>
                                    <th class="th-author">作者</th>
                                    <th class="th-date">出版日期</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not zz %}
                                </tbody>
                                </table>
                                <p>Empty</p>
                                {% else %}
                                {% for paper in zz %}
															<tr>
																<td>{{ paper.name }}</td>
																<td>{{ paper.institution}}</td>
																<td>{{ paper.gaintime|date:"Y-m-d" }}</td>
																<td><a href="/book/delezhuanzhu/?zid={{paper.id}}">删除</a>
                                                                    <a href="/book/addzzau/?zid={{paper.id}}">添加作者</a>
                                                                    <a href="/book/changezz/?zid={{paper.id}}">更新</a></td>
															 </tr>
															 {%endfor%}
															 {% endif %}
                            </tbody>
                            
                        </table>
                    </div>
                    <div class="table-title">
                        <h3>专利：</h3>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-author">题目</th>
                                    <th class="th-author">类别</th>
                                    <th class="th-date">专利号</th>
                                    <th class="th-date">授予单位</th>
                                    <th class="th-date">获得时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% if not zl %}
                                </tbody>
                                </table>
                                <p>Empty</p>
                                {% else %}
                                {% for paper in zl %}
															<tr>
																<td>{{ paper.name }}</td>
																<td>{{ paper.cate}}</td>
																<td>{{ paper.number}}</td>
																<td>{{ paper.institution}}</td>
																<td>{{ paper.gaintime|date:"Y-m-d"}}</td>
																<td><a href="/patent/delezhuanli/?zid={{paper.id}}">删除</a><a href="/patent/changezl/?zid={{paper.id}}">更新</a></td>
															 </tr>
															 {%endfor%}
															 {% endif %}
                            </tbody>
                            
                        </table>
                    </div>
                    <div class="table-title">
                        <h3>获奖：</h3>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-author">奖项名</th>
                                    <th class="th-author">获奖类别</th>
                                    <th class="th-author">获奖等级</th>
                                    <th class="th-date">获奖时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% if not all %}
                                </tbody>
                                </table>
                                <p>Empty</p>
                                {% else %}
                                {% for prize in all %}
															<tr>
																<td>{{ prize.name}}</td>
																<td>{{ prize.level}}</td>
																<td>{{ prize.rank}}</td>
																<td>{{prize.gaintime|date:"Y-m-d"}}</td>
																<td><a href="/prize/deleteprize/?id={{prize.id}}">删除</a>
                                                                    <a href="/prize/changeprize/?id={{prize.id}}">更新</a></td>
															 </tr>
															 {%endfor%}
															 {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="table-title">
                        <h3>论文：</h3>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-author">论文题目</th>
                                    <th class="th-author">第一作者</th>
                                    <th class="th-date">出版日期</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not pp %}
                                </tbody>
                                </table>
                                <p>Empty</p>
                                {% else %}
                                {% for paper in pp %}
															<tr>
																<td><a href="/paper/detail/?id={{paper.id}}">{{ paper.pdfname }}</a></td>
																{%for au in paper.auther.all%}
																{%if paper.MauthorID == au.id%}
																<td>{{ au.name}}</td>
																{%endif%}
																{%endfor%}
																<td>{{ paper.timestamp|date:"Y-m-d H:i:s" }}</td>
																<td><a href="/paper/delete/?id={{paper.id}}">删除</a>
                                                                    <a href="/paper/addauthor/?id={{paper.id}}">添加作者</a>
                                                                    <a href="/paper/change/?id={{paper.id}}">更新</a></td>
															 </tr>
															 {%endfor%}
															 {% endif %}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>
{% endblock %}