{% extends "base/base.html" %}

{% block title %}add{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 45%;
    }
</style>
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>修改</h1>
                    <h2>修改作者</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>修改作者</h4>
                    </div>
                    <div class="upload">
                        <form action="" method= "post" enctype="multipart/form-data">
                            <div class="form">
                                <label>作者</label>
                                <div class="input-div">
                                    <input id="id_auther" name="auther" type="text" value={{au.name}}>
                                </div>
                            </div>
                            <div class="form">
                                <label>单位</label>
                                <div class="input-div">
                                    <input id="id_institution" name="institution" type="text" value={{au.institution}}>
                                </div>
                            </div>
                            
                            <div class="form">
                                <input class="submit-input" type="submit" value="Upload" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>
{% endblock %}