{% extends "base/base.html" %}

{% block title %}detail{% endblock %}

{% block content %}
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>Detail</h1>
                    <h2>all information of the page</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>Detail</h3>
                        <a href="#001"><button class="btn btn-default btn-sm" style="margin-top: 4px;">查看论文</button></a>
                    </div>
                    <div class="table-detail">
                        <table id="detail-table">
                            <tbody>
                                <tr>

                                    <h4>{{ paper.pdfname }}</h4>
                                </tr>
                                
                                	 {%for au in paper.auther.all%}
                                	 <tr>
                                	 <th>作者:</th>
																	 	<td>{{ au.name}}</td>
                                    <th>单位:</th>
                                    <td>{{ au.institution}}</td>
                                    <td id="td-button1">
                                        <a href="/paper/deleteauthor/?Pid={{paper.id}}&Aid={{au.id}}"><button class="btn  btn-default btn-sm">删除</button></a>
                                    </td>
                                    <td id="td-button2">
                                        <a href="/paper/changeauthor/?Pid={{paper.id}}&Aid={{au.id}}"><button class="btn btn-default btn-sm">修改</button></a>
                                    </td>
                                    </tr>
                                 {%endfor%}
                                
                                <tr>
                                    <th>期刊:</th>
                                    <td>{{ paper.jounery.J_name}}</td>
                                </tr>
                                <tr>
                                    <th>发表日期</th>
                                    <td>{{ paper.timestamp|date:"Y-m-d" }}</td>
                                </tr>
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>View pdf</h1>
                    <h2>view {{paper.pdfname}}</h2>
                </div>
            </div>
            <div id="formbackground" style="height:600px; z-index:-1;">
            	<a name="001" id="001" ></a>
                <embed class="pdf" src="../../static/upload/{{paper.pdfname}}" width="80%" height="100%" type="application/pdf"></embed>
            </div>
            <script type="text/javascript">
            $(function(){
                $('#formbackground').height($(window).height());
                $('#formbackground').width($(window).width());
            });
            </script>
        </div>
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>
{% endblock %}