<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Index</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div>
  <ul id="nav">
    <li><a href="index.html">科研成果管理系统</a></li>
    <li id="sign"><a href="login.html">登陆</a></li>
  </ul>
</div>
<div id="page">
	<div id="sidebar">
    	<ul class="main">
            <li class="main">
                <a class="main" href="javascript:;">Pages</a>
                <ul class="sub">
                    <li><a href="view.html">view</a></li>
                    <li><a href="upload.html">upload</a></li>
                    <li><a href="search.html">search</a></li>
                </ul>
            </li>
        	<li class="main">
                <a class="main" href="project.html">Projects</a>
                <ul class="sub">
                    <li><a href="view.html">view</a></li>
                    <li><a href="upload.html">upload</a></li>
                    <li><a href="search.html">search</a></li>
                </ul>
            </li>
            <li class="main">
                <a class="main" href="award.html">Awards</a>
                <ul class="sub">
                    <li><a href="view.html">view</a></li>
                    <li><a href="upload.html">upload</a></li>
                    <li><a href="search.html">search</a></li>
                </ul>
            </li>
            <li class="main">
                <a class="main" href="patent.html">Patents</a>
                <ul class="sub">
                    <li><a href="view.html">view</a></li>
                    <li><a href="upload.html">upload</a></li>
                    <li><a href="search.html">search</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
    <div id="main-content">
    </div>
    	
    <div class="news">
    	<div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>
</body>
</html>
