<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header id="header">
  <nav class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="/index"><i class="fa fa-sun-o"></i> 科研成果管理系统</a></div>
      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/index">首页</a></li>
          <li><a href="/show">成果展示</a></li>
            <li><a href="/about">关于此网站</a></li>
          <li><a href="/contact">联系我们</a></li>
            <li><a href="/login">用户入口</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
</body>
</html>