{% extends "base/base.html" %}

{% block title %}add{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 75%;
    }
</style>
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>浏览</h1>
                    <h2>浏览所有获奖记录</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>所有获奖</h3>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-date" style="width: 200px;">项目名称</th>
                                    <th class="th-date" style="width: 100px;">获奖类别</th>
                                    <th class="th-date" style="width: 100px;">获奖等级</th>
                                    <th class="th-date" style="width: 100px;">获奖时间</th>
                                    <th>获奖人员</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if all %}
                                    {% for prize in all %}
        							<tr>
        								<td>{{ prize.name}}</td>
        								<td>{{ prize.level}}</td>
        								<td>{{ prize.rank}}</td>
        								<td>{{prize.gaintime|date:"Y-m-d"}}</td>
        								{% load mysome%}
        								<td><textarea name="yxzc" id="textarea" datatype="LimitB" min="0" max="150" msg="必须在150个汉字之内" style="width:98%" rows="1" readonly>{{names|key:forloop.counter0}}</textarea></td>
        								<td><a href="#" onclick="myFunction()">删除</a>
                                            <a href="/prize/changeprize/?id={{prize.id}}">更新</a></td>
                                        <script>
                                        function myFunction()
                                        {
                                            if(confirm("删除是不可恢复的，你确认要删除吗？")){
                                                window.location.href = "/prize/deleprize/?id={{prize.id}}";
                                            }
                                        }
                                        </script>
        							 </tr>
        							{%endfor%}
                            </tbody>
                        </table>
                                {% else %}
                                    </tbody>
                                    </table>
                                    <p>Empty</p>
                                {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>
{% endblock %}