{% extends "base/base.html" %}

{% block title %}view{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 45%;
    }
</style>
		<div id="main-content">
			<div id="container">
				<div class="row_1">
					<div class="page-header">
						<h1>Search</h1>
						<h2>search pages according to demand</h2>
					</div>
				</div>
				<div class="row_2">
					<div class="table-content">
						<div class="table-title">
							<h3>Search</h3>
						</div>
						<div class="upload">
							<form action="" method= "POST">
								<div class="form">
									<label>Information</label>
									<div class="input-div">
										<input style="width:280px;" id="id_text" name="text" type="text" />
									</div>
								</div>
								<div class="form">
									<label>Choice</label>
									<div class="input-div">
										<select style="width:280px;" id="id_choice" name="choice">
											<option value="" selected="selected"></option>
											<option value="1">1.name</option>
											<option value="2">2.level</option>
											<option value="3">3.rank</option>
											<option value="4">4.date</option>
										</select>
									</div>
								</div>
								<div class="form">
									<input class="submit-input" type="submit" value="Search" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="news">
			<div class="new-pages"></div>
			<div class="new-projects"></div>
		</div>
	</div>
{% endblock %}
