{% extends 'base.html' %}

{% block title %}成果展示{% endblock %}

{% block content %}
    <div id="inner-page">
    <div class="top-center">
      <h2>用户成果展示</h2>
      <p class="lead">本网站操作简单方便，界面清新明了，支持多种功能，下面是网站功能截图</p>
    </div>
      <div class="container">
    <ul class="portfolio-filter text-center">
      <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
      <li><a class="btn btn-default" href="#" data-filter=".web">成果录入</a></li>
      <li><a class="btn btn-default" href="#" data-filter=".apps">成果管理</a></li>
      <li><a class="btn btn-default" href="#" data-filter=".branding">工作量统计</a></li>
    </ul>
    <!--/#portfolio-filter-->

    <div class="row">
      <div class="portfolio-items">
        <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item1.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a> </h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item1.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->

        <div class="portfolio-item web col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item2.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a></h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item2.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->

        <div class="portfolio-item branding col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item3.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a></h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item3.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->

        <div class="portfolio-item web col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item4.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a></h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item4.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->

        <div class="portfolio-item branding col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item5.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a></h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item5.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->

        <div class="portfolio-item branding col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item6.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a></h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item6.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->

        <div class="portfolio-item web col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item7.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a></h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item7.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->

        <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item8.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a></h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item8.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->

        <div class="portfolio-item web col-xs-12 col-sm-4 col-md-4">
          <div class="recent-work-wrap"> <img class="img-responsive" src="../../static/images/portfolio/small/item9.jpg" alt="">
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">名称</a></h3>
                <p>内容描述</p>
                <a class="preview" href="../../static/images/portfolio/full/item9.jpg" rel="prettyPhoto"><i class="fa fa-search"></i> View</a> </div>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
      </div>
    </div>
  </div>
</div>
{% endblock %}