{% extends "base/base.html" %}

{% block title %}add{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 70%;
    }
</style>
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>浏览</h1>
                    <h2>view all Papers</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>All papers</h4>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-title">论文标题</th>
                                    <th class="th-date">第一作者</th>
                                    <th class="th-date">发表时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paper in paper_list %}
															<tr>
																<td><a href="/../detail/?id={{paper.id}}">{{ paper.pdfname }}</a></td>
																{%for au in paper.auther.all%}
																{%if paper.MauthorID == au.id%}
																<td>{{ au.name}}</td>
																{%endif%}
																{%endfor%}
																<td>{{ paper.timestamp|date:"Y-m-d" }}</td>
																<td><a href="#" onclick="myFunction()">删除</a>
																<a href="/addauthor/?id={{paper.id}}">添加作者</a>
                                                                    <a href="/change/?id={{paper.id}}">更新</a></td>
                                                                <script>
                                                                function myFunction()
                                                                {
                                                                    if(confirm("删除是不可恢复的，你确认要删除吗？")){
                                                                        window.location.href = "/delete/?id={{paper.id}}";
                                                                    }
                                                                }
                                                                </script>
															 </tr>
															 {%endfor%}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>
{% endblock %}