{% extends "base/base.html" %}

{% block title %}add{% endblock %}

{% block content %}
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>View</h1>
                    <h2>view all Paper</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>All pages</h4>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th-title">Title</th>
                                    <th class="th-author">Primary Author</th>
                                    <th class="th-date">PublishDate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paper in paper_list %}
															<tr>
																<td><a href="/../detail/?id={{paper.id}}">{{ paper.pdfname }}</a></td>
																{%for au in paper.auther.all%}
																{%if paper.MauthorID == au.id%}
																<td>{{ au.name}}</td>
																{%endif%}
																{%endfor%}
																<td>{{ paper.timestamp|date:"Y-m-d H:i:s" }}</td>
																<td><a href="/delete/?id={{paper.id}}">删除</a></td>
																<td><a href="/addauthor/?id={{paper.id}}">添加作者</a></td>
																	<td><a href="/change/?id={{paper.id}}">更新</a></td>
															 </tr>
															 {%endfor%}
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>
{% endblock %}