@charset "utf-8";
@import "reset.css";
/*主体部分*/

.header{
	background:#252525;
	overflow:hidden;
	width:100%;
	height:176px;
}


h1#login-title{
	margin-top: 110px;
	margin-left: auto;
	margin-right: auto;
	width:500px;
	color: #FFF;
	position: relative;
	font-size: 30px;
}
