{% extends "base/base.html" %}

{% block title %}add{% endblock %}
{% block content %}  
<style type="text/css">
    .row_2{
        width: 40%;
    }
</style>  
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>添加</h1>
                    <h2>添加一条国际合作记录</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>添加</h3>
                    </div>
                    <div>
                        <form method="post">
                        {% csrf_token %}
                            <table>
                                <tr class="tr">
                                    <td class="td-left">类别</td>
                                    <td class="td-right">
                                        <ul>
                                            <li><input name="catagory" type="radio" value="1">来访</li>
                                            <li style="margin-left: 50px"><input name="catagory" type="radio" value="0">出访</li>
                                        </ul>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left" >开始时间</td>
                                    <td class="td-right"><input name="start_date" type="date" style="width: 237px;"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">结束时间</td>
                                    <td class="td-right"><input name="end_date" type="date" style="width: 237px;"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">地点</td>
                                    <td class="td-right"><input name="place" type="text"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">访问目的</td>
                                    <td class="td-right">
                                    <select class="form-control" id="id_source" name="purpose" style="width: 237px;">
                                        <option value="1" selected="selected">邀请国（境）外学者来访</option>
                                        <option value="2">主办或承办国际会议</option>
                                        <option value="3">主办或承办国内会议</option>
                                        <option value="4">国际会议上的大会特邀报告</option>
                                        <option value="5">国际期刊物编委</option>
                                        <option value="6">建立国际联合实验室 </option>
                                    </select>
                                    </td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">报告名称</td>
                                    <td class="td-right"><input name="report_name" type="text"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">新闻报道链接</td>
                                    <td class="td-right"><input name="report_url" type="text"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">新闻报道保存否</td>
                                    <td class="td-right">
                                        <ul>
                                            <li><input name="save_report" type="radio" value="1">保存</li>
                                            <li style="margin-left: 50px"><input name="save_report" type="radio" value="0">未保存</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">照片保存否</td>
                                    <td class="td-right">
                                        <ul>
                                            <li><input name="save_photo" type="radio" value="1">保存</li>
                                            <li style="margin-left: 50px"><input name="save_photo" type="radio" value="0">未保存</li>
                                        </ul>
                                    </td>
                                </tr>
                                 <tr class="tr">
                                    <td class="td-left">成员列表</td>
                                    <td class="td-right">
                                        <select id="select" name="p_num">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                        <button type="button" onclick="myfun()">确认人员数量</button>
                                    </td>
                                </tr>
                                <tr class="tr"><td class="td-left"></td><td class="td-right"><div id="demo"></div></td></tr>
                            </table>
                            <input class="submit-input-2" type="submit" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>

<script>
function myfun()
{
    var obj = document.getElementById("select");
    var index = obj.selectedIndex;
    var text = obj.options[index].text;
    x=document.getElementById("demo");
    var string = "";
    for(var i=0; i<Number(text); i++){
        string += ("<input type='text' name='member_name" + String(i) + "'><br>");
    }
    x.innerHTML = string;
}
</script>
{% endblock %}