{% extends "base/base.html" %}

{% block title %}view{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 90%;
    }
</style>
<div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>View</h1>
                    <h2>view all global cooperation</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>All records</h3>
                        <div class="search">
                            <input type="text">
                            <button class="search-button">s</button>
                        </div>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr class="title">
                                    <th class="th-date">Catagory</th>
                                    <th class="th-date">Member</th>
                                    <th class="th-date">Number</th>
                                    <th class="th-date">Start_date</th>
                                    <th class="th-date">End_date</th>
                                    <th class="th-date">Place</th>
                                    <th class="th-date">Purpose</th>
                                    <th class="th-date">Report_name</th>
                                    <th class="th-date">Report_url</th>
                                    <th class="th-date">Save_report</th>
                                    <th class="th-date">Save_photo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not cop_list %}
                                </tbody>
                                </table>
                                <p>Empty</p>
                                {% else %}
                                {% for cop in cop_list %}
                                <tr>
                                    {% if cop.catagory %}
                                    <td>in</td>
                                    {% else %}
                                    <td>out</td>
                                    {% endif %}
                                    <td>
                                    {% for people in cop.member.all %}
                                    {{ people.name }}
                                    {% endfor %}
                                    </td>
                                    <td>{{ cop.p_num}}</td>
                                    <td>{{ cop.start_date|date:"Y-m-d" }}</td>
                                    <td>{{ cop.end_date|date:"Y-m-d" }}</td>
                                    <td>{{ cop.place}}</td>
                                    <td>{{ cop.purpose}}</td>
                                    <td>{{ cop.report_name}}</td>
                                    <td>{{ cop.report_url}}</td>
                                    {% if cop.save_report %}
                                    <td>yes</td>
                                    {% else %}
                                    <td>no</td>
                                    {% endif %}
                                    {% if cop.save_url %}
                                    <td>yes</td>
                                    {% else %}
                                    <td>no</td>
                                    {% endif %}
                                    <td><a href="/cop/delete/?id={{cop.id}}">删除</a></td>
                                    <td><a href="/cop/update/?id={{cop.id}}">更新</a></td>
                                 </tr>
                                 {%endfor%}
                            </tbody>
                        </table>
                        {% endif %}
                        <div class="none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}