{% extends "base/base.html" %}

{% block title %}view{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 93%;
    }
</style>
<div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>浏览</h1>
                    <h2>浏览所有国际合作情况</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>所有记录</h3>
                    </div>
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr class="title">
                                    <th class="th-date">类别</th>
                                    <th class="th-date">成员</th>
                                    <th class="th-date">成员数量</th>
                                    <th class="th-date">开始时间</th>
                                    <th class="th-date">结束时间</th>
                                    <th class="th-date">出访地点</th>
                                    <th class="th-date">出访目的</th>
                                    <th class="th-date">新闻报道名称</th>
                                    <th class="th-date">新闻报道链接</th>
                                    <th class="th-date">新闻报道保存否</th>
                                    <th class="th-date">照片保存否</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if not cop_list %}
                                </tbody>
                                </table>
                                <p>Empty</p>
                                {% else %}
                                {% for cop in cop_list %}
                                <tr>
                                    {% if cop.catagory %}
                                    <td>来访</td>
                                    {% else %}
                                    <td>出访</td>
                                    {% endif %}
                                    <td>
                                    {% for people in cop.member.all %}
                                    {{ people.name }}
                                    {% endfor %}
                                    </td>
                                    <td>{{ cop.p_num}}</td>
                                    <td>{{ cop.start_date|date:"Y-m-d" }}</td>
                                    <td>{{ cop.end_date|date:"Y-m-d" }}</td>
                                    <td>{{ cop.place}}</td>
                                    <td>{{ cop.purpose}}</td>
                                    <td>{{ cop.report_name}}</td>
                                    <td>{{ cop.report_url}}</td>
                                    {% if cop.save_report %}
                                    <td>是</td>
                                    {% else %}
                                    <td>否</td>
                                    {% endif %}
                                    {% if cop.save_url %}
                                    <td>是</td>
                                    {% else %}
                                    <td>否</td>
                                    {% endif %}
                                    <td><a href="#" onclick="myFunction()">删除</a>
                                        <a href="/cop/update/{{cop.id}}">更新</a></td>
                                    <script>
                                    function myFunction()
                                    {
                                        if(confirm("删除是不可恢复的，你确认要删除吗？")){
                                            window.location.href = "/cop/delete/?id={{cop.id}}";
                                        }
                                    }
                                    </script>
                                 </tr>
                                 {%endfor%}
                            </tbody>
                        </table>
                        {% endif %}
                        <div class="none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}