{% extends "base/base.html" %}

{% block title %}add{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 35%;
    }
</style>
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>Add</h1>
                    <h2>add your learn record</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>AddRecord</h4>
                    </div>
                    <div>
                        <form method="post">
                        {% csrf_token %}
                            <table>
                                <tr class="tr">
                                    <td class="td-left">Institution</td>
                                    <td class="td-right"><input name="Institution" type="text"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">Content</td>
                                    <td class="td-right"><input name="Content" type="text"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">Start_date</td>
                                    <td class="td-right"><input name="Start_date" type="date"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">End_date</td>
                                    <td class="td-right"><input name="End_date" type="date"></td>
                                </tr>
                            </table>
                            <input class="submit-input-2" type="submit" value="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>

<script>
function myfun()
{
    var obj = document.getElementById("select");
    var index = obj.selectedIndex;
    var text = obj.options[index].text;
    x=document.getElementById("demo");
    var string = "";
    for(var i=0; i<Number(text); i++){
        string += ("<input type='text' name='member_name" + String(i) + "'><br>");
    }
    x.innerHTML = string;
}
</script>

{% endblock %}
