{% extends "base/base.html" %}

{% block title %}update{% endblock %}

{% block content %}
<style type="text/css">
    .row_2{
        width: 40%;
    }
</style>
    <div id="main-content">
        <div id="container">
            <div class="row_1">
                <div class="page-header">
                    <h1>更新</h1>
                    <h2>更新进修学习情况</h2>
                </div>
            </div>          
            <div class="row_2">
                <div class="table-content">
                    <div class="table-title">
                        <h3>更新</h4>
                    </div>
                    <div>
                        <form method="post">
                        {% csrf_token %}
                            <table>
                                <tr class="tr">
                                    <td class="td-left">进修学习单位</td>
                                    <td class="td-right"><input name="Institution" value={{record.Institution}} type="text"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">进修学习内容</td>
                                    <td class="td-right"><input name="Content" value={{record.Content}} type="text"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">开始时间</td>
                                    <td class="td-right"><input name="Start_date" value={{record.Start_date|date:"Y-m-d"}} type="date"></td>
                                </tr>
                                <tr class="tr">
                                    <td class="td-left">结束时间</td>
                                    <td class="td-right"><input name="End_date" value={{record.End_date|date:"Y-m-d"}} type="date"></td>
                                </tr>
                            </table>
                            <input class="submit-input-2" type="submit" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <div class="news">
        <div class="new-pages"></div>
        <div class="new-projects"></div>
    </div>
</div>

{% endblock %}